node_modules
.next
.git
.gitignore
*.md
DEPLOY.md
.env*
.vscode
.idea
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/uploads/*
!public/uploads/.gitkeep
nginx/ssl
nginx/certbot
trae_projects
